body{
    background-color: black;
    background-image: url("https://a-static.mlcdn.com.br/1500x1500/painel-de-tecido-sublimado-floresta-noite-de-lua-cheia-fabrika-de-festa/fabrikadefesta/553848913/26b1829c20a407e3cf7ea398deb898d1.jpg");
    background-size: 1300px 800px;
}

p{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 5%;
	border-radius: 15px;
	font-size: 20px;
    padding: 3px;
	font-family: fantasy;
    font-weight: bold; 
    margin-left: 11%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    width: 900px;
}

.p2{
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.escolhas{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 5%;
    border-radius: 15px;
    font-size: 20px;
    padding: 3px;
    list-style: none;
    font-family: fantasy;
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

.resposta{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 3%;
    border-radius: 15px;
    font-size: 25px;
    padding: 3px;
    list-style: none;
    font-family: fantasy;
    text-align: center;
    width: 250px;
    margin-left: 40%;
    margin-right: 50%;

}

.resposta:hover{
    color: indigo;
    
}