body{
    background-color: black;
    background-image: url("https://i.ytimg.com/vi/NJ2fjAAEIfE/maxresdefault.jpg");
    background-size: 1350px 850px;
}

p{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 5%;
	border-radius: 15px;
	font-size: 20px;
    padding: 3px;
	font-family: fantasy;
    font-weight: bold; 
    margin-left: 9%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
    width: 1000px;
}

.p2{
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.escolhas{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 5%;
    border-radius: 15px;
    font-size: 20px;
    padding: 3px;
    list-style: none;
    font-family: fantasy;
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

}

.resposta{
    color: silver;
    background-color: black;
    border: 3px solid gold;
    border-width: 3%;
    border-radius: 15px;
    font-size: 25px;
    padding: 3px;
    list-style: none;
    font-family: fantasy;
    text-align: center;
    width: 250px;
    margin-left: 40%;
    margin-right: 50%;

}

.resposta:hover{
    color: indigo;
    
}